<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoch4rlcuvu44_yKASYyz041ZAILV9Dbg</string>
	<key>GCM_SENDER_ID</key>
	<string>694590994912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.cardgallery</string>
	<key>PROJECT_ID</key>
	<string>card-gallery-assiok</string>
	<key>STORAGE_BUCKET</key>
	<string>card-gallery-assiok.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694590994912:ios:824fce9fbfddaba9145385</string>
</dict>
</plist>